*

!playbooks
!playbooks/*
!playbooks/*/*
!playbooks/*/*/*.yml
!playbooks/*/*/templates
!playbooks/*/*/templates/*.j2
!playbooks/*/*/scripts
!playbooks/*/*/scripts/*
!docs
!docs/*.md
!.sbx
!.sbx/kit
!.sbx/kit/spec.yaml
!.sbx/config.py
!.claude
!.claude/settings.json
!.claude/managed-settings.json
!.claude/rules
!.claude/rules/*.md
!.claude/skills
!.claude/skills/*
!.claude/skills/*/*.md
!.gitignore
!.gitattributes
!.pre-commit-config.yaml
!.gitleaksignore
!CLAUDE.md
!justfile
!README.md
!LICENSE
!requirements.yml
