*

!playbooks
!playbooks/*
!playbooks/*/*
!playbooks/*/*/*.yml
!playbooks/*/*/templates
!playbooks/*/*/templates/*.j2
!playbooks/*/*/scripts
!playbooks/*/*/scripts/*
!docs
!docs/*.md
!.devcontainer
!.devcontainer/devcontainer.json
!.devcontainer/devcontainer-lock.json
!.devcontainer/Dockerfile
!.devcontainer/firewall.sh
!.devcontainer/managed-settings.json
!.sbx
!.sbx/kit
!.sbx/kit/spec.yaml
!.claude
!.claude/rules
!.claude/rules/*.md
!.claude/skills
!.claude/skills/*
!.claude/skills/*/*.md
!.gitignore
!.gitattributes
!CLAUDE.md
!justfile
!README.md
!LICENSE
!requirements.yml
!TODO.md
