{#
  ArgoCD Application manifest for the vLLM deployment. Tracks native Kubernetes
  manifests stored in the Gitea gitops repository. Any push to the gitops
  repository triggers an immediate sync via the Gitea webhook registered by
  argocd.yml.

  Variables:
    argocd_namespace:    Kubernetes namespace where ArgoCD is deployed.
    vllm_namespace:      Kubernetes namespace where vLLM will be deployed.
    vllm_gitops_path:    Path within the gitops repository to the vLLM manifests
                         (e.g. apps/vllm).
    gitea_namespace:     Kubernetes namespace where Gitea is deployed.
    gitea_admin_username: Gitea admin username that owns the gitops repository.
    gitea_gitops_repo:   Name of the Gitea gitops repository.
#}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vllm
  namespace: '{{ argocd_namespace }}'
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: 'http://gitea-http.{{ gitea_namespace }}.svc.cluster.local:3000/{{ gitea_admin_username }}/{{ gitea_gitops_repo }}'
    path: '{{ vllm_gitops_path }}'
    targetRevision: main
  destination:
    server: https://kubernetes.default.svc
    namespace: '{{ vllm_namespace }}'
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
