[Unit]
Description=Graceful Kubernetes node drain on shutdown
Before=shutdown.target reboot.target halt.target
After=network.target kubelet.service docker.service cri-docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User={{ ansible_user }}
ExecStart={{ k8s_drain_script_path }} start
ExecStop={{ k8s_drain_script_path }} stop
TimeoutStopSec={{ k8s_drain_timeout + 30 }}

[Install]
WantedBy=multi-user.target
