{#
  Helm values for Longhorn storage.

  Variables:
    longhorn_replica_count: Number of volume replicas. Set dynamically to match the
                            cluster node count at deployment time.
#}
defaultSettings:
  defaultDataPath: /var/lib/longhorn
  storageReservedPercentageForDefaultDisk: 30
  storageMinimalAvailablePercentage: 25
  storageOverProvisioningPercentage: 100
persistence:
  defaultClassReplicaCount: {{ longhorn_replica_count }}
  defaultClass: true
